.articles-display {
  display: grid;
  gap: 20px;
  justify-items: center;
}

@media (min-width: 600px) {
  .articles-display {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .articles-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
